# SPDX-FileCopyrightText: 2025 Madeline Baggins <madeline@baggins.family>
#
# SPDX-License-Identifier: GPL-3.0-only

/elm/elm-stuff
/result
/rs/src/index.html
/rs/src/main.js
/rs/src/pkg
/rs/result
/rs/target
/wasm/pkg
/wasm/result
/wasm/target
